{% extends "base.html" %}

{% block title %}
    Inicio
{% endblock %}

{% block content %}
    <h1>Inicio de prueba</h1>
    <hr>

    {% if request.user.is_authenticated %}
        <h4>Bienvenido, {{ request.user.username }}!</h4>
    {% else %}
        <button onclick="location.href='/login/'">Iniciar sesión</button>
        <!-- Agrega un formulario de inicio de sesión o enlace a la página de inicio de sesión según sea necesario -->
    {% endif %}

    <hr>

    <h2>Secciones:</h2>

    <div>
        <a href="{% url 'listadrogueria' %}">
            <button>Droguería</button>
        </a>
        <p>Explora nuestra amplia selección de medicamentos y productos farmacéuticos.</p>
    </div>

    <div>
        <a href="{% url 'listapacientes' %}">
            <button>Pacientes</button>
        </a>
        <p>Gestiona la información de los pacientes y accede a sus historias clínicas.</p>
    </div>

    <div>
        <a href="{% url 'internaciones' %}">
            <button>Internaciones</button>
        </a>
        <p>Muestra pacientes que actualmente residen en el hospital</p>
    </div>

    <div>
        <a href="{% url 'listapersonal' %}">
            <button>Personal</button>
        </a>
        <p>Conoce a nuestro dedicado personal médico y administrativo.</p>
    </div>

    <div>
        <a href="{% url 'per_pac' %}">
            <button>Pacientes en tratamiento</button>
        </a>
        <p>Pacientes del sanatorio en tratamiento medico</p>
    </div>

{% endblock %}


