{% extends "base.html" %}

{% block title %}
    Inicio
{% endblock %}

{% block content %}
    <h1>Inicio</h1>
    <hr>

    {% if request.user.is_authenticated %}
        <h4>Bienvenido, {{ request.user.username }}!</h4>
        <hr>
    

   

    <h2>Secciones:</h2>

    <div class="row">
        <a href="{% url 'listadrogueria' %}" class="col-md-auto">
            <button type="button" class="btn btn-primary">Droguería</button>
        </a>
        <p class="col-md-auto">Explora nuestra amplia selección de medicamentos y productos farmacéuticos.</p>
    </div>

    <div class="row">
        <a href="{% url 'listapacientes' %}" class="col-md-auto">
            <button type="button" class="btn btn-primary">Pacientes</button>
        </a>
        <p class="col-md-auto">Gestiona la información de los pacientes y accede a sus historias clínicas.</p>
    </div>

    <div class="row">
            <a href="{% url 'internaciones' %}" class="col-md-auto">
                <button type="button" class="btn btn-primary">Internaciones</button>
            </a>
        <p class="col-md-auto">Muestra pacientes que actualmente residen en el hospital</p>
    </div>

    <div class="row">
        <a href="{% url 'listapersonal' %}" class="col-md-auto">
            <button type="button" class="btn btn-primary">Personal</button>
        </a>
        <p class="col-md-auto">Conoce a nuestro dedicado personal médico y administrativo.</p>
    </div>
    {% endif %}
{% endblock %}


