{% extends "base.html" %}

{% block content %}
<h1>Agregar Droga</h1>
{% if request.user.is_authenticated %}
<div class="row justify-content-center mt-2">
    {% load crispy_forms_tags %}
    <form method="POST">
        {% csrf_token %}
        <div>
            {{ formulario | crispy }}
        </div>
        <div class="col-2">
            <button type="submit" class="btn btn-success">Agregar </button>
        </div>
    </form>
</div>
<div class="col-2 mt-2">
    <a href="{% url 'listadrogueria' %}">
        <button class="btn btn-danger">Cancelar</button>
    </a>
</div>
{% endif %}
{% endblock %}
