{% extends "base.html" %}

{% block content %}
    <title>Lista de Internados</title>
    <div class="mt-3">
        <h1 class="row justify-content-left">Lista de Internados</h1>
    </div>
    <div class="row justify-content-center mt-3">
        <table class="table">
            <tr class="table-info">
                <th>Paciente</th>
                <th>Habitacion</th>
                <th>Fecha ingreso</th>
                <th>Hora de ingreso</th>
                <th>Fecha de egreso</th>
                <th>Hora de egreso</th>
                <th>Alta</th>
            </tr>
            {%for i in internaciones%}
            <tr>
                <td>{{i.paciente_inter.nombre_pac}}</td>
                <td>{{i.habitacion_inter.ubicacion_hab}}</td>
                <td>{{i.fecha_ingreso}}</td>
                <td>{{i.hora_ingreso}}</td>
                <td>{{i.fecha_egreso}}</td>
                <td>{{i.hora_egreso}}</td>
                <td>
                    <a href="{% url 'alta' i.id %}">
                        <button class="btn btn-success">ALTA</button>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="row">
        <a href="{% url 'agregarinternacion' %}" class="col">
            <button class="btn btn-success">Agregar Internacion</button>
        </a>
    </div>

{% endblock %}