{% extends "base.html" %}

{% block content %}
<title>Pacientes</title>
<div class="mt-3">
    <h1 class="row justify-content-left">Pacientes</h1>
</div>
<div class="row justify-content-center mt-3">
    <table class="table">
            <tr class="table-info">
                <th>Nombre</th>
                <th>Apellido</th>
                <th>DNI</th>
                <th>Domicilio</th>
                <th>Telefóno</th>
                <th>Estado actual</th>
                <th>Asignar seguro</th>
            </tr>
            {% for i in pacientes %}
            <tr>
                <td>{{ i.nombre_pac }}</td>
                <td>{{ i.apellido_pac }}</td>
                <td>{{ i.dni_pac }}</td>
                <td>{{ i.domicilio_pac }}</td>
                <td>{{ i.telefono_pac }}</td>
                <td>{{ i.get_estado_pac_display }}</td>
                <td>
                    <a href="{% url 'asignarObra' i.id %}">
                    <i class="bi bi-plus-circle"></i>
                </a>
                </td>
            </tr>
            {% endfor %}
    </table>   
</div>
<div class="mt-5 row">
    <a href="{% url 'agregarpaciente' %}" class="col">
        <button class="btn btn-success">Agregar Paciente</button>
    </a>
    <a href="{% url 'obras' %}" class="col">
        <button class="btn btn-success">Mostrar obras</button>
    </a>
</div>
{% endblock %}