{% extends 'base.html' %}


{% block content %}
    <h1>Pacientes + Personal</h1>
    <table class="table">
        <tr class="table-success">
            <th>Paciente</th>
            <th>Doctor a cargo</th>
            <th>Prescripcion</th>
            <th>Ver</th>
        </tr>
        {% for i in pacientes_asignados %}
        <tr>
            <td>{{ i.paciente.nombre_pac }}</td>
            <td>{{ i.personal_a_cargo.nombre_per }}</td>
            <td>
                <a href="{% url 'cargar_prescripcion' i.id %}">
                    <button class="btn btn-info">Cargar</button>
                </a>
            </td>
            <td>
                <a href="{% url 'prescripciones' i.id %}">
                    <button class="btn btn-info">Ver</button>
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>

{%endblock%}